@use 'sass:map';

$breakpoints: (
    xsm: 320px,
    sm: 640px,
    med: 800px,
    lrg: 1200px,
    xlrg: 1440px
);

@mixin mediaQuery($key) {
    $size: map.get($breakpoints, $key);
    @media (min-width: $size) {
        @content;
    }
}